<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="/stats/add" method="post">
            <label for="add">Stat: </label>
            <input type="text" required name="statType" id="steps" />
            <br>
            <br>
            <label for="value">Value: </label>
            <input type="text" name="value" id="value" />
            <br>
            <br>
            <label for="id">Id: </label>
            <input type="text" name="id" id="id" />
            <br>
            <br>
            <button type="submit">Submit stat</button>
        </form>
    </body>
</html>
